<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  >
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p th:text="${message}"></p>
<form style="margin-left: 40px; margin-right: 60%" action="#" th:action="@{create}" th:object="${possibleAnswer}" method="post">
    <label>correct answer</label>
    <input type="checkbox" name="correctChecked"/>
    <br>
    <label for="text">text</label>
    <input type="text" class="form-control" th:field="*{text}" id="text" placeholder="text"/>
    <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
    <br>
    <input type="submit" class="btn btn-sm btn-outline-secondary" value="Create possible answer">
</form>
</body>
</html>