<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  >
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div style="margin-left: 40px; margin-right: 10%" th:switch="${tests}">
    <h2 th:case = "null">No test found!</h2>
    <div th:case="*">
        <h2>Test</h2>
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>name</th>
                <th>theme</th>
            </tr>
            </thead>
            <tr>
            <tr th:each ="test,IterStat : ${tests}">
                <td th:text = "${IterStat.count}"></td>
                <td th:text = "${test.name}"></td>
                <td th:text = "${test.theme}"></td>
            <td> <a th:href = "@{{testId}/questions(testId=${test.id})}">Вопросы к тесту</a></td>
            <td> <a  th:href = "@{tests/{id}/update(id=${test.id})}">Edit</a></td>
            <td> <a th:href = "@{tests/{id}/delete(id=${test.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href ="tests/create"> Create test </a> </p>
    <br>
    <p><a href ="/"> вернуться на главную страницу</a> </p>
</div>
</body>
</html>