<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  >
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form style="margin-left: 40px; margin-right: 60%" action="#" th:action="@{update}" th:object="${test}" method="post">
    <label for="name" >text</label>
    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="name">
    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="theme">theme</label>
    <input type="text" class="form-control" th:field="*{theme}" id="theme" placeholder="theme">
    <div class="text-danger" th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}"></div>
    <br/>
    <input type="submit" class="btn btn-sm btn-outline-secondary" value="Update test">
</form>

</body>
</html>