<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  >
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div style="margin-left: 40px; margin-right: 10%"  th:switch="${users}">
    <h2 th:case = "null">No user found!</h2>
    <div th:case="*">
        <h2>User</h2>
        <table>
            <thead>
            <tr>
                <th>№</th>
                <th>active</th>
                <th>name</th>
                <th>password</th>
            </tr>
            </thead>
            <tr>
            <tr th:each ="user, iterStat : ${users}">
                <td th:text = "${iterStat.count}"></td>
                <td th:text = "${user.active}"></td>
                <td th:text = "${user.name}"></td>
                <td th:text = "${user.password}"></td>
            <td> <a style="margin-left:15px;" th:href = "@{users/{id}/update(id=${user.id})}">Edit</a></td>
            <td> <a style="margin-left:15px; margin-right: 15px; " th:href = "@{users/{id}/delete(id=${user.id})}">Delete</a></td>
            <div th:each="role : ${user.roles}">
                <td th:text = "${role}"></td>
            </div>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href ="users/create"> Create user </a> </p>
    <br>
    <p><a href ="/"> Back to main</a> </p>
</div>
</body>
</html>