<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create question</title>
</head>
<body>
<form action="#" th:action="@{/question-create}" th:object="${question}" method="post">
    <label for="id">id</label>
    <input type="text" th:field="*{id}" id="id" placeholder="id">
    <label for="text">text</label>
    <input type="text" th:field="*{text}" id="text" placeholder="text">
    <label for="test">text_id</label>
    <input type="text" th:field="*{test}" id="test" placeholder="test_id">
    <input type="submit" value="Create questions">
</form>
</body>
</html>