<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${questions}">
    <h2 th:case = "null">No questions found!</h2>
    <div th:case="*">
        <h2>Questions</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>text</th>
                <th>testId</th>
            </tr>
            </thead>
            <tr>
            <tr th:each ="question : ${questions}">
                <td th:text = "${question.id}"></td>
                <td th:text = "${question.text}"></td>
                <td th:text = "${question.testId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>