<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert ="blocks/header :: header"></header>
    <div style="margin-left: 40px;" >
        <span>Регистрация</span>  <a style="margin-left:40px;" href="/login">Авторизоваться</a>
        <p class="col-form-label text-warning" th:text="${message}"></p>
        <form style="margin-right: 60%"th:action="@{/registration}" th:object="${user}" method="post">

            <label for="name">Login</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Enter login">
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br>

            <label for="password">Password</label>
            <input type="text" class="form-control" th:field="*{password}" id="password" placeholder="Password">
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <br>

            <div><input type="submit" class="btn btn-primary" value="Sign Up"/></div>
        </form>
    </div>
</body>
</html>