<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id" >id</label>
    <input readonly type="text" th:field="*{id}" id="id" placeholder="Id">
    <br/>
    <label for="name" >name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name user">
    <br/>
    <label for="role">role</label>
    <input type="text" th:field="*{role}" id="role" placeholder="role user">
    <br/>
    <input type="submit" value="Create user">
</form>

</body>
</html>