<!--suppress XmlUnboundNsPrefix -->
<div th:fragment="header">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="push-left mb-1">
                <a href="/">Back to main</a>
            </p>
            <p class="mb-1">Это простой сервис по тестированию на различные темы, тут вы можете проверить свои знания!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a > <a href="/" > or read our getting started guide</a>.</p>
        </div>
    </footer>